/* CSS file for component com_animals; Style 0.1 */
/* Released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */


*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/********************************************************************************************************************************************/
/* divs*/
/********************************************************************************************************************************************/
#animalsSlideshow {
  display: table;
  table-layout: fixed;
  margin: 0 auto;
  width: 100%;
  border-spacing:20px;
  border-collapse: separate;
}

#animalsList {
  margin: 0 auto;
  width: 555px;
}

#animaldetailed {
  background-color: #ffffff;
  margin: 15px 0 0 0;
  padding: 15px;
  width: 525px;
  
    box-shadow: 0 0 10px #999999; /*CSS3 Standard*/
  -moz-box-shadow: 0 0 10px #999999; /*Mozilla-basierte Browser (z.B. Firefox)*/
  -webkit-box-shadow: 0 0 10px #999999; /*WebKit-basierte Browser (z.B. Safari/Chrome)*/
}

#animaldetailed_description {
  padding-top: 20px;
}

.animalsListRow {
  background-color: #ffffff;
  min-height: 120px;
  margin: 15px 0 20px 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 0 10px #999999; /*CSS3 Standard*/
  -moz-box-shadow: 0 0 10px #999999; /*Mozilla-basierte Browser (z.B. Firefox)*/
  -webkit-box-shadow: 0 0 10px #999999; /*WebKit-basierte Browser (z.B. Safari/Chrome)*/
}

.animalsSlideshowListCell {
  display: table-cell;
  width: 50%;
  background-color: #ffffff;
  min-height: 120px;
  margin: 0px 0px 0px 0;
  padding: 5px 0 5px 0;
  overflow: hidden;
  
  box-shadow: 0 0 10px #999999; /*CSS3 Standard*/
  -moz-box-shadow: 0 0 10px #999999; /*Mozilla-basierte Browser (z.B. Firefox)*/
  -webkit-box-shadow: 0 0 10px #999999; /*WebKit-basierte Browser (z.B. Safari/Chrome)*/
}

.imageBox {
    float: left;
    display: inline;
    margin: 12px;
}

.textBox {
    float: left;
    display: inline;
    width: 180px;
    margin: 12px 0 12px 0;
    font-size: 0.8em;
}

.textBox li {
    font-size: 0.8rem;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.animalsGalery {
    width: 100%;
    padding: 5px 0 5px 5px;
    float: left;
}

.animals_content_preview {
  margin-bottom:15px;
  padding:15px 20px;
}

.animals_content_preview .green {
  color: #009574;
  margin-bottom: 12px;
  line-height: 1.2em;
  font-size: 18px;
}

.animals_record_grid {
  float: none;
  width: 100%;
  display: table;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  list-style-type: none;
  table-layout: fixed;
}

.animals_grid {
  width: 33.333%;
  list-style-type: none;
}

.animals_grid_left {
  float: left;
  margin: 0;
}

.animals_grid_right {
  float: right;
  margin: 0 0 0 -5px;
}

.animals_gridbox_left {
  padding: 10px 10px 10px 10px;
}

.animals_gridbox_right {
padding: 0 0 0 10px;
}

.animals_gridbox {
  padding: 10px 10px 10px 10px;
}

.animals_record {
  position: relative;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.animals_record table tbody th {
  padding: 3px;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap;
}

.animals_record table tbody td {
  padding: 3px;
  text-align: start;
  vertical-align: top;
  font-size: 12px;
}

.animals_record .readmore p{
  bottom: 10px;
  right: 10px;
  position: absolute;
  margin-bottom: 0;
  white-space: nowrap;
}

.animals_record .readmore a {
  display: inline-block;
  padding: 3px 10px;
  border:1px solid #525252;
  border-radius: 5px;
  font-weight: bold;
  color: #525252;
  text-shadow: #ffffff 0px 1px 1px;
  text-decoration: none;
}

.thankyou {
    padding:15px 0px 5px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 1.2em;
    color: #fff;
    background-color: #cccc33;
}

.introtext {
    padding-top:15px;
}


/********************************************************************************************************************************************/
/* elements*/
/********************************************************************************************************************************************/
.animalsListRow ul, .animalsListRow:last-child ul, .animalsSlideshowListCell ul, .animalsGaleryListCell ul, .animalsGaleryListCell:last-child ul {
  margin: 0px;
  padding: 0px;
  line-height: 1.3em;
  list-style: none;
}

/********************************************************************************************************************************************/
/* list elemens*/
/********************************************************************************************************************************************/
.textBox h1 {
    display: block;
    font-size: 1.4em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: #008491;
}

.detail_link {
    margin-top: 10px;
}


/********************************************************************************************************************************************/
/* spezielle Formatierung für bxslider (Ueberschreiben wg. Update)*/
/********************************************************************************************************************************************/
.bx-wrapper {
    margin: 0 auto 10px;
}

.bxslider {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.bx-wrapper .bx-prev {
    left: 0px;
}

.bx-wrapper img {
    margin-left: auto;
    margin-right: auto;
}